extends layout

block content
    h1= title
    h2#ingredientsTitle Ingredients
    #prepInfo 
        p(style='white-space:pre;')
            |  Makes <b>12 biscuits</b>
            |  If baking fresh, then bake for 13-15 minutes 
            |  Bake in 400 degree oven
          

    p#ingList  
        ul
            li 3 cups all-purpose flour, plus more for dusting
            li 1 tbsp baking powder
            li 1 tsp baking soda
            li 1 tsp salt
            li ¾ cup cold unsalted butter
            li 1 ½ cups buttermilk

    h2#prepTitle Preparation         
    p#prep 
        ol 
            li Add the flour, baking powder, baking soda, and salt into a large bowl, and whisk to combine.  Grate the butter directly into the mixture and use your fingers to work the butter into the flour mix until it resembles oats (don’t overmix you still want chunks of butter).
            li Turn the dough out onto a floured surface and pat it into about an 8-inch square. Knead the dough about 10 times.
            li Pat the dough into a 8x6-inch rectangle and cut with a knife into 12 biscuits, cutting straight down, not sawing back and forth.
            li Transfer to a parchment paper and freeze until solid, at least 4 hours.
            li When ready to bake, preheat the oven to 400 degrees F. Arrange the biscuits 1-inch apart on a parchment paper-lined or greased baking sheet. Bake until golden-brown for about 18-20 minutes.
