extends layout

block content
    h1= title
    #prepInfo 
        p 
           | makes <b>8 naan</b>
    h2#ingredientsTitle Ingredients
    
       
    p#ingList  
        ul
            li 1 cup warm water ~ 110F
            li 2 tbsp honey
            li 2 ¼ tsp active dry yeast
            li 3 ½ cups all-purpose flour
            li ¼ cup plain yogurt (or sour cream)
            li 2 tsp fine sea salt
            li ½ tsp baking powder
            li 1 large egg

            
    h2#prepTitle Preparation         
    p#prep 
        ol 
            li In a large bowl, stir together warm water and honey and sprinkle in the yeast on top. Give the mixture a quick stir and let sit for about 5 - 10 minutes until the yeast is foamy
            li Add the flour, yogurt/sour cream, salt, baking powder, and egg. Mix the dough for 2-3 mins
            li Remove the dough and shape it into a ball, grease a bowl with cooking spray, and place it in the bowl, covering it with a damp towel. Let it rise for at least 1 hour or until doubled in size
            li Transfer the dough onto a floured surface and shape it into a circle. Cut it into 8 equally sized wedges and roll them each into a ball
            li Heat a large cast-iron skillet. Roll out a ball of dough until it is about ¼ inch thick and add it to the pan. Cook it until it is bubbly on the top and flip, cooking until golden brown. Simultaneously be rolling out the next ball of dough and repeat!
    