extends layout

block content
    
    #recImages.scrollBar        
        a(href="biscuits")
            img(src="/images/biscuits.jpg", alt="what!") 
        .desc    
            p(style='white-space:pre;')
                | Buttermilk biscuits! Buttery goodness right out of the oven. 
                | It's a link! 
                | from http://www.twoofakindcooks.com/flaky-buttermilk-biscuits/  
        
        a(href="naan")
            img(src="/images/naan.jpg", alt="what!")
        br
        br
        br
        br
        br
        br 
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br

        .desc    
            p(style='white-space:pre;')
             | Naan made to perfection. 
             | The ideal bellpepper and beef vehicle imo. 
             | It's a link!
             | from https://www.budgetbytes.com/naan/ 


        a(href="strawbPie")
            img(src="/images/strawbPie.jpg", alt="what!")

        br 
        br
        br
        br
        br
        br
        br
        br 
        br
        br
        br
        br
        br
        br
        br
        br
        
        .desc
            p(style='white-space:pre;') 
                | Strawberry Pie is a favorite of mine. Sweet jello, fresh strawbs, 
                | and flaky crust baked to perfection.
                | It's a link! 
                | from https://sugarapron.com/2016/04/04/fresh-strawberry-pie-homemade-butter-crust/
        
    
  
