extends layout

block content
    h1= title
    h2#ingredientsTitle Ingredients
    p#ingList  
        ul
            li 1 ½ cup sugar
            li 2 cups water
            li 2 ½ tbsp cornstarch
            li 3 oz box strawberry jello
            li Two baked pie shells
            li 1 quart cleaned and halved strawberries

    h2#prepTitle Preparation         
    p#prep 
        ol 
            li Prepare and bake pie shells
            li Boil sugar water and cornstarch until clear
            li Add jello
            li Take off burner and cool
            li As the jello cools, arrange the strawberries in the cool pie shells
            li Pour spoonfuls of jello mixture into the pie shells, ensuring that every strawberry is covered
            li Refrigerate until cool and jello has set